<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compliance Summary</title>
</head>
<body>
    <h1>Compliance Summary for {{ user.name }}</h1>

    {% if alerts %}
        <h2>Alerts</h2>
        <ul>
            {% for alert in alerts %}
                <li>{{ alert }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <!-- List of All Logged Doses -->
    <h2>Logged Doses</h2>
    <ul>
        {% if user.log %}
            {% for dose in user.log %}
            <li>
                <strong>Medication:</strong> {{ dose.name }}<br>
                <strong>Took at:</strong> {{ dose.dosage_time }}<br>
                <strong>On:</strong> {{ dose.dosage_date }}<br>
            </li>
            {% endfor %}
        {% else %}
            <p>No doses logged yet.</p>
        {% endif %}
    </ul>
    <h2>Doctor's Communications</h2>
    <p> {{date }}: {{msg }}</p>

    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
